// colors
$primary-color: #00A587;
$primary-color-light: rgb(0, 215, 175);
$dark-color: #000000;
$light-color: #FFFFFF;
$border-color: #EDEFEB;
$gray-color: #ABABAB;
//font-size
$font-size-h1: 32px;
$font-size-h2: 26px;
$font-size-h3: 32px;
$font-size-h4: 32px;

$font-size: 22px;
$font-size-small: 18px;