.learning {
    min-height: calc(100vh - 90px);
    padding-top: 60px;
    padding-bottom: 60px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.leftBox {
    width: 530px;
}

.text {
    margin-bottom: 10px;

    color: #2B788B;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 2.24px;
    text-transform: uppercase;
}

.subtitle {
    margin-top: 20px;
    margin-bottom: 20px;
    
    color: #757575;
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
}