.footer {
    margin-top: auto;
    min-height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: var(--accent2-color);
    box-shadow: 0 0 0 100vmax var(--accent2-color);
    clip-path: inset(0 -100vmax);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.li {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    min-height: 60px;
}

.li:hover {
    border-radius: 50%;
    background-color: var(--accent-color);
}

.text {
    color: var(--light-color);
    text-align: right;
}