.application {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.id , .experience {
    width: 70px;
}

.id {
    background-color: transparent;  
}

.name, .nameBoss {
    width: 280px;
}

.subdivision, .job {
    width: 160px;
}

.jobTitle {
    width: 100px;
}

.status {
    width: 100px;
}
.delete_button{
    width: 14px;
    cursor: pointer;
    margin-left: -15px;
}
.save_button{
    width: 14px;
    cursor: pointer;
}