.wrapper {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 6px;
    font-size: 18px;
}

.textarea {
    padding: 10px;
    background-color: #FFFF;
    border-radius: 6px;
    border: 1px solid #000;
    resize: none;
}