.schedule {
    padding-top: 40px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    min-height: calc(100vh - 190px);
    background-color: #F6F5F4;
    box-shadow: 0 0 0 100vmax #F6F5F4;
    clip-path: inset(0 -100vmax);
}

.selects {
    width: 400px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    border-radius: 6px;
}

.btn {
    height: 26px;
}

.content {
    width: 920px;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    border-radius: 6px;
}

.descr {
    min-height: 120px;
    width: 160px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    border-radius: 6px;
    border: 2px var(--accent-color) solid;
}

.date, .time, .title, .teacher {
    color: var(--accent-color);
}

.add {
    width: fit-content;
    height: fit-content;
}