@import "../../../assets/styles/variables";

.header {
    min-height: 90px;
    display: flex;
    align-items: center;

    background: $dark-color;
    box-shadow: 0 0 0 100vmax $dark-color;
    clip-path: inset(0 -100vmax);
}

.logo {
    margin-right: 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
}


.logoText:hover {
    color: var(--accent2-color);
}

.logoText::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    background-image: url("../../../assets/imgs/header/logo.svg");
    background-repeat: no-repeat;
    box-sizing: initial;
}

.ul {
    margin-right: auto;
    display: flex;
    gap: 28px;
}

.link {
    position: relative;
}

.linkText {
    color: var(--light-color);
}

.link:after {
    content: "";
    display: block;
    position: absolute;
    margin-top: 4px;
    left: 0;
    width: 0px;
    height: 2px;
    background-color: var(--accent2-color);
    -webkit-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
}

.link:hover:after {
    width: 100%;
}

.select {
    margin-right: 20px;
}