.news {
    min-height: calc(100vh - 190px);
    padding-top: 40px;
    padding-bottom: 40px;

    background-color: #F6F5F4;
    box-shadow: 0 0 0 100vmax #F6F5F4;
    clip-path: inset(0 -100vmax);
}

.title {
    margin-bottom: 20px;

    text-align: center;
}

.novelty {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content {
    padding: 16px;
    
    border: 2px var(--accent-color) solid;
    border-radius: 6px;
}

.data {
    color: var(--accent-color);
}

.subtitle {
    margin-top: 10px;
    margin-bottom: 10px;
}